{% extends "base.html" %}
{% block content %}
     <div class="hero-container">
        <img src="{{ url_for('static', filename='atacama_nayara.jpeg') }}" alt="Logo de Estrella de Atacama" class="center-img">
        <h1 class="hero-title">ESTRELLA DE ATACAMA</h1>
        <p class="hero-subtitle">Un destino único en el desierto</p>
         
    </div>
    
<section>
    <h2> Hoteles Disponibles</h2>
    <ul>
        {% for hotel in hoteles %}
            <li>
                {{ hotel.nombre }} - Desde ${{ hotel.precio }} 
                <a href="{{ url_for('detalle_hotel', hotel_id=hotel.id) }}">Reservar</a>
                
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2> Tours Disponibles</h2>
    <ul>
        {% for tour in tours %}
            <li>
                {{ tour.nombre }} - Desde ${{ tour.precio }} 
                <a href="{{ url_for('detalle_tour', tour_id=tour.id) }}">Reservar</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
